# SPDX-License-Identifier: GPL-2.0

config SOC_K210_SYSCTL
	bool "Canaan Kendryte K210 SoC system controller"
	depends on RISCV && SOC_CANAAN && OF
	depends on COMMON_CLK_K210
	default SOC_CANAAN
	select PM
	select MFD_SYSCON
	help
	  Canaan Kendryte K210 SoC system controller driver.

config SOC_K230_PMU
	bool "K230 power management unit"
	depends on RISCV && SOC_CANAAN && OF
	depends on COMMON_CLK_K210
	default SOC_CANAAN
	select PM
	select MFD_SYSCON
	help
	  Enables K230 PMU control PMIC.

config SOC_K230_PM_DOMAINS
	bool "canaan k230 pwr driver support"
	select PM_GENERIC_DOMAINS if PM
	default SOC_CANAAN
